.example-card {
    // max-width: 400px;
}

.example-header-image {
    background-image: url('https://cdn-icons-png.flaticon.com/512/6681/6681204.png');
    background-size: cover;
}

.height-100 {
    height: 100%;
}

mat-form-field {
    width: 100%;
}