@use '@angular/material' as mat;

.items-center {
    align-items: center;
}

.c-title {
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
}

::ng-deep .customize {
    @include mat.icon-overrides(( color: whitesmoke ));
}