<div class="container mt-2">
    <div class="d-flex gap-2 justify-content-between">
        <div class="w-30 d-flex gap-2">
            <img [src]="baseURL + blog?.createdBy?.profileImageURL" width="25" height="25">
            <p><b>{{ blog?.createdBy?.name }}</b></p>
        </div>

        <p>
            {{ blog?.date }}    
        </p>
    </div>
    <div>
        <h2>{{ blog?.title }}</h2>
    </div>
    <div>
        <!-- <pre> -->
            {{ blog?.body }}
        <!-- </pre> -->
    </div>
</div>