<div class="container p-4">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mt-4" *ngFor="let blog of allBlogs">
            <mat-card class="blog-card cursor-pointer" appearance="outlined" [routerLink]="`/blog/${blog._id}`">
                <img mat-card-image [src]="'http://localhost:3000/' + blog.coverImageURL"
                    alt="blog-cover" ngSrcset="200w, 200w">
                <mat-card-content>
                    <h5>{{ blog.title }}</h5>
                    <div class="blog-card-body">
                        {{ blog.body }}
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <mat-paginator 
        [length]="totalBlogs"
        [pageSize]="pageSize"
        [pageSizeOptions]="[12, 24, 36]"
        (page)="onPageChange($event)"
        aria-label="Select page">
    </mat-paginator>
</div>